# Dependencies
node_modules

# Next.js
.next
out
build

# Environment
.env
.env*.local

# IDE
.vscode
.idea

# Git
.git
.gitignore

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Testing
coverage
.nyc_output

# Infrastructure (IaC)
terraform/
ansible/
scripts/
.terraform
*.tfstate*
*.tfvars*
*.pem

# GitHub
.github/
.husky/
.agent/
.claude/

# Misc
*.md
!README.md
.editorconfig
.prettierrc
.prettierignore
.eslintrc*
